@media screen and (max-width: 1140px) {
    .films__wrap{
        flex-wrap: wrap;
         justify-content: center;
         align-items: center;
    }

    .collections__wrap{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        }

    .series__cont{
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
    
}


@media screen and (max-width: 640px) {
    .header__wrap{
        flex-direction: column;
        gap: 15px;   
    }
    .footer__wrap{
        flex-direction: column;
        gap: 15px;
        }
}



@media screen and (max-width:568px) {
    .header__wrap {
        flex-direction: column;
        gap: 15px;
    }

    .series__banner {
        width: 100%;
    }

    .series-h4 {
    font-size: 24px ;
    }
}

@media screen and (max-width:470px) {
    .banner-h{
        font-size: 33px;    
    }
    
    .banner-p{
        font-size: 14px;
    }
    
    .banner-links{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:360px) {
    .banner-h{
        font-size: 28px;
        line-height: 30px;
    }
    
}

@media screen and (max-width: 768px) {
    .trailer__post {
        width: 100%;        
    }
    
}