@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg: #040D1F;
    --orange: #F18128;
    --black: #000;
    --comf: 'Comfortaa', sans-serif;
    --monts: 'Montserrat', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --w: #fff;
}

body {
    background: var(--bg);
    font-family: var(--comf);
    color: var(--w);
}

.header__top {
    padding: 20px 0;
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
}

.top__center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.top__p {
    max-width: 166px;
    font-family: var(--comf);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;

}

.top__icon {
    font-size: 50px;
    animation: rotate infinite 3s;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__nav {
    padding: 30px 0;
    background: #010305CC;
}

.logo__img {
    animation: rotate infinite 3s;
}

.logo__p {
    font-family: var(--comf);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: var(--w);

}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu__link {
    display: inline-block;
    font-family: var(--monts);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: white;
    transition: 0.3s;
    position: relative;
}


.menu__link::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    bottom: -44px;
    background: #ED8E00;
    left: 50%;
    transition: 0.3s;
    transform: translateX(-50%);
}

.menu__link:hover {
    color: #ED8E00;
}

.menu__link:hover.menu__link::after {
    width: 100%;
}

.header {
    height: 100vh;
}

.banner {
    height: 78%;
    position: relative;
    background: url(../img/bg.png) no-repeat center right/cover;
    z-index: 10;
}

.banner__abs {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #070F19BF;
    z-index: -1;

}

.banner__wrap {
    display: flex;
    align-items: center;
}

.banner__desc {
    max-width: 600px;
    width: 100%;
}

.banner__h {
    font-family: var(--monts);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    margin-bottom: 30px;
}

.banner__p {
    font-family: var(--monts);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #C8C8C8;
    margin-bottom: 50px;
}

.banner__links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.btn {
    background: var(--bg);
    border-radius: 4px;
    padding: 17px 47px;
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    color: white;
    transition: 0.3s;
    display: inline-block;
}

.btn:hover {
    background: var(--orange);
    color: var(--black);
}

.films{
    padding: 50px 0 77px;
}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heading{
    font-family: var(--comf);
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    padding-bottom: 10px;
    margin-bottom: 54px;
    border-bottom: 2px solid var(--orange);
    color: var(--orange);
}

.films__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.card{
    background: url(../img/card1.png) no-repeat center/cover;
    max-width: 335px;
    min-width: 255px;
    width: 100%;
    height: 367px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 14px 19px;
    position: relative;
    z-index: 10;
}

.card:nth-child(2){
    background: url(../img/card2.png) no-repeat top center/cover;
    
}
.card:nth-child(3){
    background: url(../img/card3.png) no-repeat top center/cover;
    
}
.card:nth-child(4){
    background: url(../img/card4.png) no-repeat top center/cover;
    
}

.card__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
    z-index: -1;
}

.card__icon{
    font-size: 40px;
    margin-bottom: 12px;
}

.card__time{
    font-family: var(--monts);
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: #FFFFFF;
    padding: 7px 27px;
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    margin-bottom: 30px;
}

.card__h{
    font-family: var(--monts);
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.card__p{
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;

}


.trailer{
    padding: 42px 0 80px;
    position: relative;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
}

.video{
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.trailer__desc{
    max-width: 558px;
    width: 100%;
}

.trailer__post{
    width: 80%;
    height: 100%;
    object-fit: cover;
}


.trailer__p{
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--black);
    margin: 51px 0 55px;
}

.collections{
    padding: 61px 0 63px;
}
.collections__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collect__card{
    background: url(../img/collection1.png) no-repeat center/cover;
    max-width: 350px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 193px;
    z-index: 9;
    overflow: hidden;
}

.collect__card:nth-child(2) {
    background: url(../img/collection2.png) no-repeat center/cover;
}
.collect__card:nth-child(3) {
    background: url(../img/collection3.png) no-repeat center/cover;
}

.lines{
    position: absolute;
    width: 97%;
    height: 94%;
    top: 7px;
    left: 6px;
    z-index: 10;
    transform: scale(1.5);
    transition: 0.3s;
}

.collect__bg{
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.collect__body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    transition: 0.3s;
}

.collect__h{
    color: #FFFFFF;
}

.collect__icon{
    font-size: 40px;
    transition: 0.3s;
}

.collect__card:hover .lines{
    transform: scale(1);
}

.collect__card:hover .collect__body {
    transform: scale(1.3);
}
.collect__card:hover .collect__icon {
    transform: rotateX(360deg);
}

.series__banner{
    background: url(../img/bg2.png) no-repeat center/cover;
    padding: 96px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;
    border-radius: 6px;
    margin-bottom: 30px;
}

.series-h4{
    font-family: var(--comf);
    font-style: normal;
    font-size: 40px;
    line-height: 45px;
    color: var(--w);
    margin-bottom: 28px;
}

.series-p{
    font-family: var(--comf);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--w);
    margin-bottom: 30px;
}

.banner__bg2{
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    border-radius: 6px;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.series__cont{
    display: flex;
    justify-content: space-between;
    margin-top: 30px ;
    margin-bottom: 50px;
}

.left__movie{
    background: url(../img/movie1.png) no-repeat center/cover;
    max-width: 540px ;
    height: 404px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.banner__bg3{
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
    border-radius: 6px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.movies__wrap{
    max-width: 570px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.movie__card{
    background: url(../img/movie2.png) no-repeat center/cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 255px;
    width: 100%;
    height: 100%;
    height: 180px;
    position: relative;
    z-index: 10;
    border-radius: 6px;
}

.movie__card:nth-child(2){
  background: url(../img/movie3.png) no-repeat center/cover;
}

.movie__card:nth-child(3){
  background: url(../img/movie4.png) no-repeat center/cover;
}

.movie__card:nth-child(4){
  background: url(../img/movie5.png) no-repeat center/cover;
}

.series__bg{
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
    border-radius: 6px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__wrap, .cards__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cards__wrap:hover .collect__icon {
    transform: rotateX(360deg);
}

.footer{
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.footer__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.app{
    display: flex;
    align-items: center;
    gap: 50px;
}

.app__link{
    font-family: var(--comf);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: var(--w);
}


@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}